@import url("https://fonts.googleapis.com/css2?family=Doto:wght,ROND@500,100&display=swap");

.h_container {
  width: fit-content;
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin: 40px auto;
}

.h_img {
  width: 125px;
}

.doto_h_font {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "ROND" 100;
  font-size: 6rem;
  text-transform: uppercase;
}
