span {
  font-size: 2rem;
  margin-left: 10px;
}

input {
  font-size: 2rem;
}

input[type="text"] {
  width: 200px;
}

input[type="range"] {
  accent-color: #0969fe;
}

button {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.dc_container > div > button {
  width: 25px;
}

.dc_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  font-size: 2.3rem;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  margin: auto;
}

.dc_container > *:not(.dc_container:last-child) {
  margin-bottom: 40px;
}
