* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 67.5%;
}

body {
  background-color: #2a3335;
  color: #ecf0f2;
}
